<?xml version="1.0" encoding="UTF-8" standalone="no"?><CogeGenerator Created_By="Ranasinghe,R.M." version="1.0">
<LookAndFeel lookAndFeels="javax.swing.plaf.metal.MetalLookAndFeel"/>
<FileOpenPath openPath="F:\XML"/>
<FileSavePath savePath="C:\Documents and Settings\malinda\Desktop"/>
<Dimensions>
<Width width="1032"/>
<Height height="748"/>
</Dimensions>
<Position x="170.0" y="19.0"/>
</CogeGenerator>